*{margin:0;padding:0;}
html,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
    font-size: 70.5%;

}
body{
    font-family: "microsoft yahei", arial, STHeiTi, sans-serif;
    font-size: 70.5%;
}
a{text-decoration: none}
.content{
    background: none repeat scroll 0 0 #f0f3f9;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom:0;
    width: auto;
    padding:40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.crumbs{
    margin-bottom: 20px;
}
.pagination{
    margin: 10px 0;
    text-align: right;
}
.plugins-tips{
    padding:20px 10px;
    margin-bottom: 20px;
}
.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover{
    background: #f6faff;
}
.mgb20{
    margin-bottom: 20px;
}

.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}
/*BaseForm*/
.form-box{
    width:600px;
}
.form-box .line{
    text-align: center;
}
.el-time-panel__content::after, .el-time-panel__content::before {
    margin-top: -7px;
}
/*Readme*/
.ms-doc .el-checkbox__input.is-disabled+.el-checkbox__label{
    color: #333;
    cursor: pointer;
}
/*Upload*/
.pure-button{
    width:150px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.g-core-image-corp-container .info-aside{
    height:45px;
}
.el-upload--text {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    box-sizing: border-box;
    width: 360px;
    height: 180px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.el-upload--text .el-icon-upload {
    font-size: 67px;
    color: #97a8be;
    margin: 40px 0 16px;
    line-height: 50px;
}
.el-upload--text {
    color: #97a8be;
    font-size: 14px;
    text-align: center;
    /*aaa*/
}
.el-upload--text em {
    font-style: normal;
}
/*VueEditor*/
.ql-container{
    min-height: 400px;
}
.ql-snow .ql-tooltip{
    transform: translateX(117.5px) translateY(10px) !important;
}
.editor-btn{
    margin-top: 20px;
}
.icon {
    width: 4rem; height: 5rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.el-table th{
    padding: 5px 0;
}
.el-table th .cell{
    height: 33px;
    line-height: 33px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow:0 0 0 1000px #ffffff inset;}
.el-menu-item:focus, .el-menu-item:hover {
    background-color: #92b6dd;
}
.el-menu{
    background-color: #494545;
}
.el-submenu__title{
    color: #e8ebf2;
}
.el-menu-item{
    color:#ffffff
}
.el-submenu__title:hover{
    background-color: #92b6dd;
}
.stairFontColor{
   color: #303133
}
.secondFontColor{
    color:#606266
}
.threeFontColor{
    color:#909399
}
.el-table__row,.el-table__row--striped {background-color: #eff3f8!important}
.el-table th{padding: 0}

.mUpDateTime{font-size: 1.5rem;height: 3rem;line-height: 3rem;text-align: center}
.mediaMd{font-size: 1.6rem;line-height: 1rem}
.mUpData{font-size: 2.2rem;height: 14rem;line-height: 22rem;text-align: center}
.mUpData1{height: 5rem;  line-height: 5rem;  font-size: 1.4rem;text-align: center}
.morning{height: 2rem;}
.morningWidth{width: 17rem}
.morningSize{font-size: 3rem;text-align: center}
/*原料库*/
.remindText{font-size: 1.5rem;width:77%;height:5rem;word-break:break-all;float: left;padding-left: 1.5rem;padding-top: 2rem;text-align: center}
@media screen and (max-width: 1368px){
    .mUpDateTime{font-size: 1.2rem;height: 2rem;line-height: 10rem}
    .mediaMd{font-size: 1.2rem;line-height: 1rem}
    .mUpData{font-size: 2rem;height: 13rem;line-height: 19rem}
    .mUpData1{height: 3rem;  line-height: 1rem;  font-size: 1.4rem;text-align: center}
    .morning{height: 1.4rem;}
    .morningWidth{width: 12rem}
    .morningSize{font-size: 2rem;text-align: center}
    .remindText{font-size: 1.5rem;width:60%;height:5rem;word-break:break-all;float: left;padding-left: 1.5rem;padding-top: 2rem;text-align: center}
}
